<div>@GetChildContent()</div>

@code {
    [Parameter]
    public Type ComponentType { get; set; }

    private RenderFragment GetChildContent()
    {
        return builder =>
               {
                   builder.OpenComponent(0, ComponentType);
                   builder.AddComponentParameter(1, "StyleClass", "table");
                   builder.CloseElement();
               };
    }
}
