<div>@GetChildContent()</div>

@code {
    private RenderFragment GetChildContent()
    {
        return builder =>
               {
                   builder.OpenElement(0, "Div");
                   builder.AddContent(1, "Test Content");
                   builder.CloseElement();
               };
    }
}
