@page "/"

<PageTitle>Home</PageTitle>

<section class="center--text">
    <h1><code class="code--red">RenderFragment Sample</code></h1>
</section>

<section class="fragment-types">

    <div class="headline">RenderFragment Type 1</div>
    <Type1>
        <Table StyleClass="table"></Table>
    </Type1>

    <div class="headline">RenderFragment Type 2</div>
    <Type2 ComponentType="typeof(Table)"/>

    <div class="headline">RenderFragment Type 3</div>
    <Type3/>

</section>