<div class="page-box">
    <table class="@StyleClass">
        <thead>
            <tr>
                <td>First Name</td>
                <td>Middle Name</td>
                <td>Last Name</td>
                <td>User Id</td>
                <td>Password</td>
            </tr>   
        </thead>
        <tbody>
            <tr>
                <td>Surendran</td>
                <td>-</td>
                <td>B</td>
                <td>surendran@123</td>
                <td>098123</td>
            </tr>
            <tr>
                <td>Sivabalan</td>
                <td>-</td>
                <td>P</td>
                <td>sivabalan@123</td>
                <td>0981234</td>
            </tr>
            <tr>
                <td>AjithKumar</td>
                <td>-</td>
                <td>J</td>
                <td>ajithkumar@123</td>
                <td>password</td>
            </tr>
            <tr>
                <td>Anbarasan</td>
                <td>-</td>
                <td>A</td>
                <td>anbarasan@123</td>
                <td>anbu@123</td>
            </tr>
        </tbody>
    </table>
</div>

@code
{
    [Parameter]
    public string StyleClass { get; set; } = "table-default";

    private List<Employee> liEmployee = new List<Employee>()
    {
        new Employee()
        {
            Name = "Surendran",
            MiddleName = "-",
            LastName = "B",
            UserId = "Surendran@123",
            Password = "@Password"
        },
    };

    private class Employee
    {
        public string Name { get; set; } = string.Empty;
        public string MiddleName { get; set; } = string.Empty;
        public string LastName { get; set; } = string.Empty;
        public string UserId { get; set; } = string.Empty;
        public string Password { get; set; } = string.Empty;
    }
}
